@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carousel.css");
@import url("../styles/cards.css");
@import url("../styles/topics.css");
@import url("styles/footer.css");

:root{
    --primary-color:#EBECEE;
    --secundary-color:#FFFFFF;
    --title-color:#EB9B00;
    --detail-color: #002F52;
    --hightlighted-color: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --main-Font: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary-color);
    font-family: var(--main-Font);
    font-size: 16px;
    font-weight: 400;
}
.titles{
    color: var(--title-color);
    font-weight: 700;
}
.button_ancor{
    background-color: var(--title-color);
    padding: 1em 2.2em;
    text-decoration: none;
    color: var(--secundary-color);
    font-weight: 700;
}
.hightlighted-color_text{
    background: var(--hightlighted-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
