.contact {
    background-color: var(--secundary-color);
    padding: 1.5em;
}
.contact__title {
    font-size: 18;
    font-weight: 500;
    padding-bottom: 0.7em;
}
.contact__text {
    font-size: 16px;
    font-weight: 300;
}
.contact__Email {
    padding: 1em;
    border: solid var(--detail-color) 1px;
    border-radius: 24px;
    width: 92%;
    color: var(--detail-color);
    margin-top: 1.5em;
}
.contact__Email::placeholder{
    font-family: var(--main-Font);
    color: var(--detail-color);
    background: url("../img/icons/Email.svg") no-repeat;
    align-items: center;
    padding-left: 2.5em;
    
}

hr{
    margin: 0;
}
.footer_end{
    padding: 1em;
}

.footer__Alura_Group{
    display: none;
}
.footer__Alura_Groups__column{
    display: none;
    gap: 8px;
    justify-content: center;
}
.footer__Alura_Groups__link{
    text-decoration: none;
    color: var(--link-line-footer);
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer__Alura_Groups__Titles, .footer__Alura_Groups__items{
    font-size: 10px;
    padding: 6px 0;
}
.footer__Alura_Groups__Titles{
    color: var(--title-column-footer);
    text-transform: uppercase;
    padding-top: 1.5em;
}
.footer__Alura_Groups__img{
    width: 14px;
}
.footer__Alura_Group:checked ~ .footer__Alura_Groups__column{
    display: flex;
}
.slash{
    display: none;
}
@media screen and (min-width:1024px) {
    .contact{
        display: flex;
        gap: 10%;
        padding: 1.87em 9.76em;
        justify-content: center;
        align-items: center;
    }
    .contact__title{
        font-size: 24px;
        padding-bottom: 1.1875em;
    }
    .contact__Email{
        margin-bottom: 35px;
    }
    .footer_end{
        display: flex;
        gap: 4em;
    }
    .footer_end__text{
        padding-top: 10px;
        font-size: 24px;
    }
    .footer__Alura_Groups__column{
        display: flex;
        gap: 4em;
    }
    .footer__Alura_Groups__Titles,.footer__Alura_Groups__items{
        font-size: 14px;
    }
    .footer__Alura_Groups__items{
        padding: 16px 0;
    }
    .footer__Alura_Groups__Titles{
        padding-top: 15px;
    }
    .footer__Alura_Groups__img{
        width: 30px;
    }
    .footer__Alura_Groups__link{
        gap: 1em;
    }
}
@media screen and (min-width:1280px) {
    .contact{
        padding: 3em 18.9vw;
        gap: 5%;
    }
    .contact__Email{
        width: 50%;
    }
    .footer_end{
        padding: 3em 0vw 3em 5vw;
        gap: 5%;
    }
    .footer__Alura_Groups__column{
        gap: 0;
    }
    .footer__Alura_Groups__items{
        margin: 0 8.8em 0 2em;
    }
    .footer__Alura_Groups__Titles{
        margin-left: 1em;
    }
    .slash{
        display: block;
    }
}